/* includes node_modules/govuk_frontend_toolkit/govuk_frontend_toolkit/stylesheets */

@import '_colours';
@import '_typography';
@import 'design-patterns/_buttons';
@import 'design-patterns/_alpha-beta';

#content {
  margin: 0 auto;
  max-width: 1020px;

  @include ie-lte(6)  {
    width: 990px;
  }
}
.page-header {
  padding: 0 32px;

  h1 {
    @include bold-48;
    padding: 25px 0 15px;
  }
}

.inner-block {
  padding-left: 30px;
  padding-right: 30px;
}

.header-bar {
height: 10px;
background-color: #005ea5;
}
/* Alpha/Beta styles */

.alpha {

}

.alpha-banner  {
  @include core-19;
  @include phase-banner(alpha);
  strong {
    text-transform: uppercase;
  }
}
.alpha-tag {
  @include phase-tag(alpha);
}


/* Manuals  */

.manuals-header {
background: #005ea5;
padding: 30px;
color: white;
margin: 0 -30px;
font-family: "nta", Arial, sans-serif;
font-size: 16px;
line-height: 1.25;
margin-top: 1px;
margin-left: 2px;
margin-right: 2px;
}

.breadcrumb-trail {
list-style: none;
margin-left: -40px;
}

.breadcrumb-trail li {
  display: inline;
  margin-right: 20px;
}

li.last-child {
color: #6f777b;
}

.manual-section {
  border-top: 1px solid $grey-2;
  padding-top: 20px;
  margin-bottom: 60px;
}

.section-title {
  font-size: 24px;
  line-height: 1.24;
}

.manual-subsection {
}

.direction-signs {
  cursor: pointer;
  margin: 0;
  color: #005ea5;
  border: none;
  font-size: 19px;
  font-weight: bold;
  display: block;
  padding: 10px 30px 10px 0;
  border-top: 1px solid #bfc1c3;
}


.sub-container {
  overflow: auto;
  margin-bottom: 30px;
  padding-top: 10px;
}

.sign {
  float: left;
  width: 40%;
  padding-right: 15px;
}

.description-top {
  width: 60%;
  font-size: 110%;

}

.description {
  float: left;
  padding-right: 20px;
  width: 50%;
  font-size: 110%;
}

.roadsign {
  width: 99%;
}

.wide-sign {
  width: 90%;
  margin-bottom: 20px;
}

.section-intro {
  font-size: 110%;
}

h3 {
  font-size: 130%;
}
