{{<layout}}

{{$pageTitle}}Index{{/pageTitle}}

{{$content}}
<main id="content" role="main">

<div class="inner-block">
  <div class="header-bar"></div>
  <div class="alpha">
<span class="alpha-tag">alpha</span> This part of GOV.UK is currently being built – <a href="/service-manual/phases/ideal-alphas">find out what this means</a>
</div>

  <div class="manuals-header">
    <h1>The Highway Code</h1>
    <dl>
<dt>From</dt>
        <dd><a href="https://www.gov.uk/government/organisations/driver-and-vehicle-standards-agency">Driver and Vehicle Standards Agency</a></dd>
      </dl>
  </div>

<ol class="breadcrumb-trail" role="breadcrumbs">
<li><a href="/guidance/the-highway-code">Contents</a></li>
    <li class="last-child"><strong>Guide to road signs</strong></li>
</ol>

<div class="manual-section">

<h2 class="section-title">Guide to road signs</h2>
<p>A guide to identifying and understanding road signs </p>

<h2 class="direction-signs">Direction signs on roads and motorways</h2>

<h3>Direction signs</h3>

<div class="section-intro">

<ul>
<li>Direction signs</li>
<li>Mostly rectangular</li>
</ul>
</div>


<h3>Signs on motorways — blue backgrounds</h3>

<div class="sub-container">

    <div class="sign"><img class="roadsign" src="public/images/1_a.png"></div>
    <div class="description">
      <p>At a junction leading directly into a motorway (junction number may be shown on a black background)</p>
      </div>
</div>


<div class="sub-container">
    <div class="sign"><img class="roadsign" src="public/images/1_b.png"></div>
    <div class="description">
      <p>On approaches to Route confirmatory junctions (junction number sign after junction on black background)</p>
      </div>
</div>


<div class="sub-container">
    <div class="sign"><img class="roadsign" src="public/images/1_c.png"></div>
    <div class="description">
      <p>Route confirmatory sign after junction</p>
      </div>
</div>

<div class="sub-container">
  <div class="description-top">
    <p>
Downward pointing arrows mean ‘Get in lane’. The left-hand lane leads to a different destination from the other lanes.
  </p>
  </div>
  <div class="wide-sign"><img class="roadsign" src="public/images/2_roadsigns.png"></div>
</div>

<div class="sub-container">
  <div class="description-top">
    <p>
    The panel with the inclined arrow indicates the destinations which can be reached by leaving the motorway at the next junction
  </p>
  </div>
  <div class="wide-sign"><img class="roadsign" src="public/images/3_roadsigns.png"></div>
</div>

<h3>Signs on primary routes — green backgrounds</h3>

<div class="sub-container">
    <div class="sign"><img class="roadsign" src="public/images/4_roadsigns.png"></div>
    <div class="description">
      <p>On approaches to junctions</p>
      </div>
</div>


<div class="sub-container">
    <div class="sign"><img class="roadsign" src="public/images/5_roadsigns.png"></div>
    <div class="description">
      <p>At the junction</p>
      </div>
</div>



<div class="sub-container">
    <div class="sign"><img class="roadsign" src="public/images/6_roadsigns.png"></div>
    <div class="description">
      <p>Route confirmatory sign after junction</p>
      </div>
</div>


<div class="sub-container">
    <div class="sign"><img class="roadsign" src="public/images/8_roadsigns.png"></div>
    <div class="description">
      <p>On approaches to junctions</p>
      </div>
</div>


<div class="sub-container">
    <div class="sign"><img class="roadsign" src="public/images/9_roadsigns.png"></div>
    <div class="description">
      <p>On approach to a junction in Wales (bilingual)</p>
      </div>
</div>

<h3 class="roadsigns">Signs on primary routes — general advice</h3>

<div class="section-intro">

<ul>
  <li>Blue panels indicate that the motorway starts at the junction ahead.</li>
  <li>Motorways shown in brackets can also be reached along the route indicated.</li>
  <li>White panels indicate local or non-primary routes leading from the junction ahead.</li>
  <li>Brown panels show the route to tourist attractions.</li>
  <li>The name of the junction may be shown at the top of the sign.</li>
  <li>The aircraft symbol indicates the route to an airport.</li>
  <li>A symbol may be included to warn of a hazard or restriction along that route.</li>
</ul>

</div>

<h3 class="roadsigns">Green background signs — continued</h3>


<div class="sub-container">
    <div class="sign"><img class="roadsign" src="public/images/10_roadsigns.png"></div>
    <div class="description">
      <p>Primary route forming part of a ring road</p>
      </div>
</div>


<div class="sub-container">
    <div class="sign"><img class="roadsign" src="public/images/11_R.png"></div>
    <div class="description">
      </div>
</div>

<h3 class="roadsigns">Signs on non-primary and local routes — black borders</h3>


<div class="sub-container">
    <div class="sign"><img class="roadsign" src="public/images/12_border_a.png"></div>
    <div class="description">
      <p>On approaches to junctions</p>
      </div>
</div>


<div class="sub-container">
<div class="sign"><img class="roadsign" src="public/images/12_border_b.png"></div>
    <div class="description">
      <p>On approaches to junctions</p>

      </div>
</div>


<div class="sub-container">
    <div class="sign"><img class="roadsign" src="public/images/12_border_c.png"></div>
    <div class="description">
      <p>At the junction</p>
      </div>
</div>


<div class="sub-container">
<div class="sign"><img class="roadsign" src="public/images/12_border_d.png"></div>
    <div class="description">
      <p>Direction to toilets with access for the disabled</p>

      </div>
</div>


<div class="sub-container">
<div class="sign"><img class="roadsign" src="public/images/13_other_a.png"></div>
    <div class="description">
      <p>Picnic site</p>
      </div>
</div>


<div class="sub-container">
<div class="sign"><img class="roadsign" src="public/images/13_other_b.png"></div>
    <div class="description">
      <p>Ancient monument in the care of English Heritage</p>
      </div>
</div>

<div class="sub-container">
<div class="sign"><img class="roadsign" src="public/images/13_other_c.png"></div>
    <div class="description">
      <p>Direction to a car park</p>
      </div>
</div>


<div class="sub-container">
<div class="sign"><img class="roadsign" src="public/images/13_other_d.png"></div>
    <div class="description">
      <p>Tourist attraction</p>
      </div>
</div>


<div class="sub-container">
<div class="sign"><img class="roadsign" src="public/images/13_other_e.png"></div>
    <div class="description">
      <p>Direction to camping and caravan site</p>
      </div>
</div>


<div class="sub-container">
<div class="sign"><img class="roadsign" src="public/images/13_other_f.png"></div>
    <div class="description">
      <p>Advisory route for lorries</p>
      </div>
</div>




<div class="sub-container">
<div class="sign"><img class="roadsign" src="public/images/13_other_g.png"></div>
    <div class="description">
      <p>Route for pedal cycles forming part of a network</p>
      </div>
</div>


<div class="sub-container">
<div class="sign"><img class="roadsign" src="public/images/13_other_h.png"></div>
    <div class="description">
      <p>Recommended route for pedal cycles to place shown</p>
      </div>
</div>


<div class="sub-container">
<div class="sign"><img class="roadsign" src="public/images/13_other_i.png"></div>
    <div class="description">
      <p>Route for pedestrians</p>
      </div>
</div>


<div class="sub-container">
<div class="sign"><img class="roadsign" src="public/images/14_emergency_1.png"></div>
    <div class="description">
      <p>Symbols showing emergency division route for motorways and other main road traffic</p>
      </div>
</div>


<div class="sub-container">
<div class="sign"><img class="roadsign" src="public/images/14_emergency_2.png"></div>
    <div class="description">
      <p>Diversion route</p>
      </div>
</div>








</div>
</main>
{{/content}}

{{/layout}}
